<h2>Edit this booking</h2>
<p> Boat Name: <%= @booking.boat.name %>, Owner: <%= @booking.user.last_name %> <%= @booking.user.last_name %> </p>
 <%= simple_form_for([@boat, @booking]) do |f| %>
   <%= f.input :start_time%>
   <%= f.input :end_time %>
   <%= f.input :status, collection: Booking.statuses.keys %>
   <%= f.submit "Update booking"%>
 <% end %>
