  <h2>Edit your name</h2>
<div class="devise-input-form">

<%= simple_form_for(@user) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.submit %>
<% end %>

<p><%= link_to "Delete this user", user_path(@user), method: :delete, data: { confirm: "Are you sure?"}, class: "devise-btn"%></p>
</div>
