 <h2 class="h2-user">Hello <%= @user.first_name%>!</h2>
  <div class="main-container user-bin">
    <div id="profile-bin">
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm'/>
      <p>First name: <%= @user.first_name%></p>
      <p>Last name: <%= @user.last_name%></p>
      <p>Email: <%= @user.email%></p>
      <% @user.boats.each do |boat| %>
      <p>Boat: <strong> <%= link_to  boat.name, boat_path(boat) %> </strong> </p>

      <% end %>
      <p><%= link_to "Back to boats",  boats_path, class: "booking-btn"%> </p>
      <p><%= link_to "Add a boat",  new_boat_path, class: "booking-btn"%> </p>
      <p><%= link_to "Edit profile",  edit_user_path(@user), class: "booking-btn"%> </p>
      <p><%= link_to "Delete account", user_path(@user), method: :delete, data: { confirm: "Are you sure?"}, class: "booking-btn"%></p>
    </div>

    <div class="container booking-bin">
      <div class="row">
        <div class="col-xs-12 booking-title">
          <h3 class="show-h2">Your Bookings</h3>
        </div>
      </div>
      <div class="row booking-header">
        <div class="col col-xs-4">
          <%= link_to "Pending", user_path(@user, show:"pending"), class: "status-btn" %>
        </div>
        <div class="col col-xs-4">
            <%= link_to "Confirmed", user_path(@user, show:"confirmed"), class: "status-btn" %>
        </div>
        <div class="col col-xs-4">
            <%= link_to "Cancelled", user_path(@user, show:"cancelled"), class: "status-btn" %>
        </div>
      </div>

      <% @bookings.each do |b| %>

      <div class="row booking-body">
        <div class="col col-xs-12 booking-col">
          <div class="long-card">

            <div class="book-id">
              <p class="hd"> Booking Id </p>
              <p> <%= b.id %> </p>
            </div>
            <div class= "book-name">
              <p class="hd"> Boat Name</p>
              <p><%= b.boat.name %> </p>
            </div>
            <div class= "book-start">
              <p class="hd"> Start time</p>
              <p><%= b.start_time.strftime("%Y-%m-%d (%H:%M)") %> </p>
            </div>
            <div class= "book-end">
              <p class="hd"> End time</p>
              <p><%= b.end_time.strftime("%Y-%m-%d (%H:%M)") %> </p>
            </div>
            <div class= "book-price">
              <p class="hd"> Price (€)</p>
              <p><%= b.boat.price_per_hour %> </p>
            </div>
            <div>
              <%= link_to "Update", edit_booking_path(b), class:"book-btn"%>
            </div>
          </div>
        </div>
      </div>

       <%end %>

    </div>
  </div>


