<h2>User show page</h2>

<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>


<p> Here comes a list of the boats, TO BE ADDED
</p>

<p> <%= link_to "Add a boat", new_boat_path %> </p>

<p><%= link_to "Back to boats",  boats_path%> </p>

<hr>
<p><%= link_to "Delete this user", user_path(@user), method: :delete, data: { confirm: "Are you sure?"}%></p>
