<h1>Add a boat</h1>

<%= simple_form_for(@boat) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price_per_hour  %>
  <%= f.input :hours  %>
  <%= f.input :capacity  %>
  <%= f.input :has_license, as: :radio_buttons %>
  <%= f.submit %>

<% end %>

<%= link_to "Back to list",  boats_path%>
