<div class="grid-container">
  <div class="grid-item1 grid-item">
    <div class="name-image">
    <p class="boat-name"><%= @boat.name %></p>
    </div>
  </div>

  <div class="grid-item2 grid-item">
    <h3><strong>Description</strong>: <%= @boat.description %></h3>
  </div>

  <div class="grid-item3 grid-item">
    <!-- Boat Description -->
    <div class="details-title">
    <h3 class="show-title">Boat details</h3>
    </div>
    <ul>
      <li>
        <p>Price per hour: <%= @boat.price_per_hour %></p>
        <p>Rental hours: <%= @boat.hours %></p>
        <p>Capacity: <%= @boat.capacity %></p>
        <p>License needed? <%= @boat.has_license %></p>
      </li>
    </ul>

    <!-- Boat Links (edit, delete, index page) -->

    <p class="boat-p"><%= link_to "Edit", edit_boat_path(@boat), class: "boat-btn"%></p>
    <p class="boat-p"><%= link_to "Back to list", boats_path, class: "boat-btn"%></p>
    <p class="boat-p"><%= link_to "Delete", boat_path(@boat),
    method: :delete,
    data: { confirm: "Are you sure?" }, class: "boat-btn"%></p>
  </p>
  </div>
  <div class="grid-item4 grid-item">
    <!-- Booking Details -->

    <h1 class="book-details show-title">Booking details</h1>
    <ul>
      <% @boat.bookings.each do |booking| %>
      <li>
        <p> Status: <%= booking.status %> </p>

        <p> Available from: <%= booking.start_time.strftime("%Y-%m-%d (%H:%M)") %></p>

        <p> Available until: <%= booking.end_time.strftime("%Y-%m-%d (%H:%M)") %> </p>
      </li>
      <% end %>
    </ul>
    <div class="btn-details">
      <p class="boat-p"><%= link_to "Edit", edit_booking_path(@boat.bookings), class: "boat-btn"%></p>
      <p class="boat-p"><%= link_to "Book this boat", new_boat_booking_path(@boat), class: "boat-btn"%></p>
    </div>
  </div>
  <div class="grid-item5 grid-item">
    <!-- Boat Reviews -->
    <h1 class="show-title">Boat reviews</h1>
    <ul>
      <% @boat.reviews.each do |review| %>
      <li>
        <%= review.title %> <%= link_to "", boat_review_path(@boat, review),
        method: :delete,
        data: { confirm: "Are you sure?" }, class: "far fa-trash-alt" %><br>
        <%= review.content %>
        <%= review.rating %>
      </li>
      <% end %>
    </ul>

    <p class="boat-p"><%= link_to "Add a review", new_boat_review_path(@boat), class: "boat-btn"%></p>
  </div>
</div>
