<ul>
  <li><%= @boat.name %></li>
  <li><%= @boat.description %></li>
  <li><%= @boat.price_per_hour %></li>
  <li><%= @boat.hours %></li>
  <li><%= @boat.capacity %></li>
  <li><%= @boat.has_license %></li>
</ul>
<!--
<%= @boat.user %> -->


<%= link_to "", boat_path(@boat),
    method: :delete,
    data: { confirm: "Are you sure?" }, class: "far fa-trash-alt" %>

<%= link_to "Edit", edit_boat_path(@boat)%>

<%= link_to "Back to list", boats_path%>

<ul>
<% @boat.reviews.each do |review| %>
  <li>
    <%= review.title %>
    <%= review.content %>
    <%= review.rating %>
    <%= link_to "", boat_review_path(@boat, review),
    method: :delete,
    data: { confirm: "Are you sure?" }, class: "far fa-trash-alt" %>

  </li>
<% end %>
</ul>

<%= link_to "Add a review", new_boat_review_path(@boat)%>
